@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$my-font: "Roboto", sans-serif;
$my-primary-color: #bc865c;
$my-secondary-color: #fffcf7;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $my-primary-color;
}

.main-container {
  margin: 3rem;

  border: 2px solid $my-secondary-color;
  color: $my-secondary-color;
}

.left-container {
  padding: 2rem;
}

.right-container {
  padding: 2rem;
}

.white-container {
  background-color: $my-secondary-color;
  color: $my-primary-color;
  h1 {
    margin: 0;
    text-align: center;
  }
}
