@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$my-font: "Roboto", sans-serif;
$my-primary-color: #bc865c;
$my-secondary-color: #fffcf7;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $my-primary-color;
}

nav {
  .none {
    visibility: hidden;
  }
  img {
    float: right;
    width: 7rem;
    padding: 0 1rem;
    color: $my-secondary-color;
  }
}

h1,
h3 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-family: $my-font;
}

.main-container {
  margin: 2rem 3rem 0 3rem;
  border: 1px solid $my-secondary-color;
  color: $my-secondary-color;
  .left-container {
    padding: 2rem;
    text-align: left;
  }
  .right-container {
    padding: 2rem;
    text-align: right;
  }
}
.white-container {
  margin: 0rem 3rem 2rem 3rem;
  background-color: $my-secondary-color;
  color: $my-primary-color;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  margin: 0;
}

@media (max-width: 600px) {
  nav {
    img {
      width: 5rem;
    }
  }
  .main-container {
    .left-container,
    .right-container {
      text-align: center;
    }
    h3 {
      font-size: 0.8rem;
    }
  }
  h1 {
    font-size: 1.5rem;
  }
}
